<section id="faux-titre">
    <div class="maintitle">Digital Tools for Creative Collaboration</div>
</section>

<section id="faux-titre">
    <h1 id="chapter title" class="chapter">This publication was generated the 16 may 2022 from the url wiki.ourwriting.tools, with a custom app and the paged.js library </h1>
</section>
