{{> fauxTitre }}

{{> workshop }}

{{#each eka}}
    <section class="chapter" data-chapter="{{@index}}">
    {{{this.content}}}
    </section>
{{/each}}

{{#each esadse}}
    <section class="chapter" data-chapter="{{@index}}">
    {{{this.content}}}
    </section>
{{/each}}